.a{
  width: 300px;
  margin-top:10px;
  margin-left:100px;
  min-height: 600px;
}
.aa{
  width:100%;
  height: 302px;
  object-position: 50% 50%;
  margin: auto;
  box-shadow: 1px 5px 5px grey;
  padding : 5px; 
  background-color : #fff; 
  border : 1px solid #000; 
}

.b{
  width: 300px;
  margin-top:10px;
  margin-left:100px;
  min-height: 600px;
}
.bb{
  width: 300px;
  height: 302px;
  object-position: 50% 50%;
  margin: auto;
  box-shadow: 1px 5px 5px grey;
  padding : 5px; 
  background-color : #fff; 
  border : 1px solid #000; 
}
.c{
  width: 300px;
  margin-top:10px;
  margin-left:100px;
  min-height: 600px
  
}
.cc{
  width: 300px;
  height: 302px;
  object-position: 50% 50%;
  margin: auto;
  box-shadow: 1px 5px 5px grey;
  padding : 5px; 
  background-color : #fff; 
  border : 1px solid #000; 
}
.d{
  width: 300px;
  margin-top:10px;
  margin-left:100px;
  min-height: 600px
  
}
.dd{
  width: 300px;
  height: 302px;
  object-position: 50% 50%;
  margin: auto;
  box-shadow: 1px 5px 5px grey;
  padding : 5px; 
  background-color : #fff; 
  border : 1px solid #000; 
}
.e{
  width: 300px;
  margin-top:10px;
  margin-left:100px;
  min-height: 600px
  
}
.ee{
  width: 300px;
  height: 302px;
  object-position: 50% 50%;
  margin: auto;
  box-shadow: 1px 5px 5px grey;
  padding : 5px; 
  background-color : #fff; 
  border : 1px solid #000; 
}
.f{
  width: 300px;
  margin-top:10px;
  margin-left:100px;
  min-height: 600px
  
}
.ff{
  width: 300px;
  height: 302px;
  object-position: 50% 50%;
  margin: auto;
  box-shadow: 1px 5px 5px grey;
  padding : 5px; 
  background-color : #fff; 
  border : 1px solid #000; 
}
.g{
  width: 300px;
  margin-top:10px;
  margin-left:100px;
  min-height: 600px
  
}
.gg{
  width: 300px;
  height: 302px;
  object-position: 50% 50%;
  margin: auto;
  box-shadow: 1px 5px 5px grey;
  padding : 5px; 
  background-color : #fff; 
  border : 1px solid #000; 
}
.h{
  width: 300px;
  margin-top:10px;
  margin-left:100px;
  min-height: 600px
  
}
.hh{
  width: 300px;
  height: 302px;
  object-position: 50% 50%;
  margin: auto;
  box-shadow: 1px 5px 5px grey;
  padding : 5px; 
  background-color : #fff; 
  border : 1px solid #000; 
}
.i{
  width: 300px;
  margin-top:10px;
  margin-left:100px;
  min-height: 600px
  
}
.ii{
  width: 300px;
  height: 302px;
  object-position: 50% 50%;
  margin: auto;
  box-shadow: 1px 5px 5px grey;
  padding : 5px; 
  background-color : #fff; 
  border : 1px solid #000; 
}
.j{
  width: 300px;
  margin-top:10px;
  margin-left:100px;
  min-height: 600px
  
}
.jj{
  width: 300px;
  height: 302px;
  object-position: 50% 50%;
  margin: auto;
  box-shadow: 1px 5px 5px grey;
  padding : 5px; 
  background-color : #fff; 
  border : 1px solid #000; 
}
.k{
  width: 300px;
  margin-top:10px;
  margin-left:100px;
  min-height: 600px
  
}
.kk{
  width: 300px;
  height: 302px;
  object-position: 50% 50%;
  margin: auto;
  box-shadow: 1px 5px 5px grey;
  padding : 5px; 
  background-color : #fff; 
  border : 1px solid #000; 
}
.l{
  width: 300px;
  margin-top:10px;
  margin-left:100px;
  min-height: 600px
  
}
.ll{
  width: 300px;
  height: 302px;
  object-position: 50% 50%;
  margin: auto;
  box-shadow: 1px 5px 5px grey;
  padding : 5px; 
  background-color : #fff; 
  border : 1px solid #000; 
}

.row1 {
  display: grid;
  justify-content: space-around; 
  text-align: center; 
  font-family:fantasy;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.row2 {
  display: flex ;
  justify-content: space-around; 
  text-align: center; 
  font-family:fantasy;
}
.row3 {
  display: flex ;
  justify-content: space-around; 
  text-align: center; 
  font-family:fantasy;
}
  .b1{
    width:300px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 40px;
    color: #000;
    background-color:  #FFFFFF;
    border: 1px solid #000;
    position: relative;
    transition: all .3s linear;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.b1 > p{
    position: relative;
    z-index: 1;
}
.b1::before{
    content: "";
    width: 0%;
    height: 0%;
    display: block;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all .3s ease;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.b1:hover{
    color: rgb(243, 237, 237);
}
.b1:hover::before{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.b2{
  width:300px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 40px;
  color: #000;
  background-color:  #FFFFFF;
  border: 1px solid #000;
  position: relative;
  transition: all .3s linear;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.b2 > p{
  position: relative;
  z-index: 1;
}
.b2::before{
  content: "";
  width: 0%;
  height: 0%;
  display: block;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all .3s ease;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.b2:hover{
  color: rgb(243, 237, 237);
}
.b2:hover::before{
  width: 100%;
  height: 100%;
  opacity: 1;
}
.b3{
width:300px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
line-height: 40px;
color: #000;
background-color:  #FFFFFF;
border: 1px solid #000;
position: relative;
transition: all .3s linear;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b3 > p{
position: relative;
z-index: 1;
}
.b3::before{
content: "";
width: 0%;
height: 0%;
display: block;
background-color: #000;
position: absolute;
top: 0;
right: 0;
opacity: 0;
transition: all .3s ease;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b3:hover{
color: rgb(243, 237, 237);
}
.b3:hover::before{
width: 100%;
height: 100%;
opacity: 1;
}
.b4{
width:300px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
line-height: 40px;
color: #000;
background-color:  #FFFFFF;
border: 1px solid #000;
position: relative;
transition: all .3s linear;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b4 > p{
position: relative;
z-index: 1;
}
.b4::before{
content: "";
width: 0%;
height: 0%;
display: block;
background-color: #000;
position: absolute;
top: 0;
right: 0;
opacity: 0;
transition: all .3s ease;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b4:hover{
color: rgb(243, 237, 237);
}
.b4:hover::before{
width: 100%;
height: 100%;
opacity: 1;
}
.b5{
width:300px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
line-height: 40px;
color: #000;
background-color:  #FFFFFF;
border: 1px solid #000;
position: relative;
transition: all .3s linear;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b5 > p{
position: relative;
z-index: 1;
}
.b5::before{
content: "";
width: 0%;
height: 0%;
display: block;
background-color: #000;
position: absolute;
top: 0;
right: 0;
opacity: 0;
transition: all .3s ease;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b5:hover{
color: rgb(243, 237, 237);
}
.b5:hover::before{
width: 100%;
height: 100%;
opacity: 1;
}
.b6{
width:300px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
line-height: 40px;
color: #000;
background-color:  #FFFFFF;
border: 1px solid #000;
position: relative;
transition: all .3s linear;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b6 > p{
position: relative;
z-index: 1;
}
.b6::before{
content: "";
width: 0%;
height: 0%;
display: block;
background-color: #000;
position: absolute;
top: 0;
right: 0;
opacity: 0;
transition: all .3s ease;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b6:hover{
color: rgb(243, 237, 237);
}
.b6:hover::before{
width: 100%;
height: 100%;
opacity: 1;
}
.b7{
width:300px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
line-height: 40px;
color: #000;
background-color:  #FFFFFF;
border: 1px solid #000;
position: relative;
transition: all .3s linear;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b7 > p{
position: relative;
z-index: 1;
}
.b7::before{
content: "";
width: 0%;
height: 0%;
display: block;
background-color: #000;
position: absolute;
top: 0;
right: 0;
opacity: 0;
transition: all .3s ease;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b7:hover{
color: rgb(243, 237, 237);
}
.b7:hover::before{
width: 100%;
height: 100%;
opacity: 1;
}
.b8{
width:300px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
line-height: 40px;
color: #000;
background-color:  #FFFFFF;
border: 1px solid #000;
position: relative;
transition: all .3s linear;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b8 > p{
position: relative;
z-index: 1;
}
.b8::before{
content: "";
width: 0%;
height: 0%;
display: block;
background-color: #000;
position: absolute;
top: 0;
right: 0;
opacity: 0;
transition: all .3s ease;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b8:hover{
color: rgb(243, 237, 237);
}
.b8:hover::before{
width: 100%;
height: 100%;
opacity: 1;
}
.b9{
width:300px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
line-height: 40px;
color: #000;
background-color:  #FFFFFF;
border: 1px solid #000;
position: relative;
transition: all .3s linear;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b9 > p{
position: relative;
z-index: 1;
}
.b9::before{
content: "";
width: 0%;
height: 0%;
display: block;
background-color: #000;
position: absolute;
top: 0;
right: 0;
opacity: 0;
transition: all .3s ease;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b9:hover{
color: rgb(243, 237, 237);
}
.b9:hover::before{
width: 100%;
height: 100%;
opacity: 1;
}
.b10{
width:300px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
line-height: 40px;
color: #000;
background-color:  #FFFFFF;
border: 1px solid #000;
position: relative;
transition: all .3s linear;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b10 > p{
position: relative;
z-index: 1;
}
.b10::before{
content: "";
width: 0%;
height: 0%;
display: block;
background-color: #000;
position: absolute;
top: 0;
right: 0;
opacity: 0;
transition: all .3s ease;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b10:hover{
color: rgb(243, 237, 237);
}
.b10:hover::before{
width: 100%;
height: 100%;
opacity: 1;
}
.b11{
width:300px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
line-height: 40px;
color: #000;
background-color:  #FFFFFF;
border: 1px solid #000;
position: relative;
transition: all .3s linear;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b11 > p{
position: relative;
z-index: 1;
}
.b11::before{
content: "";
width: 0%;
height: 0%;
display: block;
background-color: #000;
position: absolute;
top: 0;
right: 0;
opacity: 0;
transition: all .3s ease;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b11:hover{
color: rgb(243, 237, 237);
}
.b11:hover::before{
width: 100%;
height: 100%;
opacity: 1;
}
.b12{
width:300px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
line-height: 40px;
color: #000;
background-color:  #FFFFFF;
border: 1px solid #000;
position: relative;
transition: all .3s linear;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b12 > p{
position: relative;
z-index: 1;
}
.b12::before{
content: "";
width: 0%;
height: 0%;
display: block;
background-color: #000;
position: absolute;
top: 0;
right: 0;
opacity: 0;
transition: all .3s ease;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.b12:hover{
color: rgb(243, 237, 237);
}
.b12:hover::before{
width: 100%;
height: 100%;
opacity: 1;
}

.t1{
font-family:  DFKai-SB;
}
.m1{
color:#fff;
}
.t2{
font-family:  DFKai-SB;
}
.m2{
color:#fff;
}
.t3{
font-family:  DFKai-SB;
}
.m3{
color:#fff;
}
.t4{
font-family:  DFKai-SB;
}
.m4{
color:#fff;
}
.t5{
font-family:  DFKai-SB;
}
.m5{
color:#fff;
}
.t6{
font-family:  DFKai-SB;
}
.m6{
color:#fff;
}
.t7{
font-family:  DFKai-SB;
}
.m7{
color:#fff;
}
.t8{
font-family:  DFKai-SB;
}
.m8{
color:#fff;
}
.t9{
font-family:  DFKai-SB;
}
.m9{
color:#fff;
}
.t10{
font-family:  DFKai-SB;
}
.m10{
color:#fff;
}
.t11{
font-family:  DFKai-SB;
}
.m11{
color:#fff;
}
.m12{
color:#fff;
}




